@charset "UTF-8";
html{
    font-size: 70%;
}
body{
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    box-sizing: border-box;
    font-family: 'Julius Sans One', sans-serif;
    height: 1000px;
}
.wrapper1{
    position: absolute;
    z-index: 1;
    width: 80%;
    right: 0;
}
.wrapper2{
    position: relative;
    z-index: 2;
    overflow: hidden;
}
.sidemenu{
    float: left;
    width: 20%;
    height: 100vh;
    position: fixed;
}

.main{
    float: right;
    width: 80%;
    position: relative;
}
a{
    text-decoration: none;
    color: #000;
}
.head{
    width: 90%;
    font-size: 5rem;
    margin-bottom: 100px;
    border-bottom: 1px solid #555;
}
footer{
    width: 100%;
    text-align: center;
}

/*-------------menu-------------*/
.sidemenu h1{
    margin-left: 20px;
}
.global-nav{
    height: 300px;
    position: fixed;
    bottom: 0;
}
.global-nav ul{
    margin: 0;
    list-style-type: none;
}
ul li{
    margin-top: 20px;
    font-size: 1.5rem;
}
.global-nav a{
    margin: 0;
    color: black;
    text-decoration: none;
     font-size: 1.5rem;
}
#dmenu{
    display: none;
}
/*------------main--------------*/
.header{
    position: absolute;
   width: 500px;
    margin: 100px auto;
    top: 50%;
    left: 0%;
}
.header h1{
    font-size: 6rem;
}
.header h2{
    font-size: 3rem;
}

/*---------------obj----------------*/
.container{
    transition: 2s;
    width: 80%;
    float: right;
}
.box{
    width: 300px;
  position: absolute;
}
#box01{
    top: 300px;
}
#box02{
    right: 0px;
    top: 150px;
}
#box03{
    top: 200px;
    left: 500px;
}
#box04{
    top: 700px;
    left: 30px;
}
#box05{
    top: 500px;
    left: 300px;
}
#box06{
    top: 600px;
    left: 550px;
}
#box07{
    top: 800px;
    left: 300px;
}
#box08{
    top: 200px;
    left: 0px;
}
#box09{
    top: 1000px;
    right: 0px;
}
#box10{
    top: 1300px;
    left: 100px;
}
#box11{
    top: 1200px;
    right: 200px;
}

/*----------about-----------*/
.about{
    margin-top: 1000px;
}
.about-box{
    margin-top: 100px;
}
.about-box ul{
    list-style-type: none;
}
.about-box .icon{
    font-size: 10rem;
    margin-right: 50px;
    color: #555;
    -webkit-transition:1s;
    -o-transition: 1s;
    transition: 1s;
}
.icon:hover{
    -webkit-transition:1s;
    -o-transition: 1s;
    transition: 1s;
    transform: rotateY(180deg);
}

/*-----------web------------*/
.web{
    margin-top: 70px;
    padding-top: 50px;
}
.work{
    overflow: hidden;
    margin: 130px 0;
}
.work-img{
    width: 400px;
    height: 250px;
    background-size: contain;
    float: left;
    overflow: hidden;
}
.work-text{
    color: #000;
    float: left;
    margin-left: 50px;
}
.work p{
    width: 500px;
}

/*------------design------------*/
.design{
    margin: 100px 0;
    padding-top: 100px;
    overflow: hidden;
}
.design-img{
    float: left;
    margin-top: 0;
    margin: 30px;
    width: 300px;
    height: auto;
    overflow: hidden;
}

.illust{
    margin: 100px 0;
    padding-top: 100px;
    overflow: hidden;
}

/* smartPhone */
@media screen and (max-width: 640px) {
   
.sidemenu{
    display: none;
}
    .wrapper2{
/*        margin-left: 20px;*/
    }
    .main{
    width: 95%;
        font-size: 70%;
     margin-left: 20px;
    }
    #dmenu{
        background: rgba(255, 255, 255, 0.62);
         display: block;
        width: 100%;
        margin: 0 auto;
        padding:0;
        overflow: hidden;
        position: fixed;
        z-index: 100;
        text-align: center;
    }
    #dmenu li{
    float: left;
        margin: 7px;
        list-style-type: none;
    }
    .box{
    display: none;
    }
    .header{
        margin-top: 200px;
    width: 300px;

    }
    .about{
        padding-top: 100px;
         margin-top: 700px;
        margin-left: 20px;
    }
    .about-box ul li{
        font-size: 90%;
        width: 90%;
    }
    .about-box .icon {
    font-size: 8rem;
    margin-right: 40px;
    }
    
    .work-img img{
        width: 83%;
    }
    .work-text{
        margin: 10px;
        width: 90%;
    }
    .work-text p{
        width: 100%;
    }
    .design-img{
    width: 90%;
    }
}